@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  color: var(--font-primary);
}
:root {
  --font-primary: #141824;
  --color-primary: #f46c34;
  --color-secondary: #e2e8f0;
}

@layer components {
  .card {
    @apply bg-white rounded-xl relative overflow-hidden flex flex-col justify-between shadow-md transition-transform scale-100 hover:scale-105 ease-in-out duration-300;
  }
}

.header {
  padding: 0.5rem 1rem;
  box-shadow: 0 0 2rem #2930421a;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav ul li {
  list-style-type: none;
}
.nav ul li a {
  text-decoration: none;
  padding: 20px;
  font-weight: 600;
  font-size: 1.2rem;
}
.nav ul li a:hover {
  color: var(--color-primary);
}
.nav_items {
  display: flex;
}
.brandLogo {
  width: 4rem;
}
/* .card {
  background: #fff;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  width: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
} */

.description {
  padding: 1rem;
}
